<a href="https://colab.research.google.com/github/nandini-gangrade/Data-Engineering-Hexaware/blob/Project/Week1/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1: Data Warehousing and SQL Concepts

In [1]:
# Step 1: Set up SQLite in Colab
import sqlite3

# Create a new SQLite database (in-memory)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Step 2: Create tables to store customer, product, and order data
cursor.execute('''
CREATE TABLE customer_dim (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(255),
    location VARCHAR(255)
);
''')

cursor.execute('''
CREATE TABLE product_dim (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(255),
    category VARCHAR(255)
);
''')

cursor.execute('''
CREATE TABLE order_fact (
    order_id INT PRIMARY KEY,
    product_id INT,
    customer_id INT,
    quantity INT,
    order_amount DECIMAL(10, 2),
    order_date TIMESTAMP
);
''')

# Step 3: Insert sample data into the tables
cursor.execute("INSERT INTO product_dim VALUES (1, 'Smartphone', 'Electronics')")
cursor.execute("INSERT INTO product_dim VALUES (2, 'Laptop', 'Electronics')")
cursor.execute("INSERT INTO product_dim VALUES (3, 'Tablet', 'Electronics')")

cursor.execute("INSERT INTO customer_dim VALUES (2001, 'Bob', 'California')")
cursor.execute("INSERT INTO customer_dim VALUES (2002, 'Alice', 'Texas')")
cursor.execute("INSERT INTO customer_dim VALUES (2003, 'John', 'New York')")

cursor.execute("INSERT INTO order_fact VALUES (1001, 1, 2001, 1, 299.99, '2023-09-27 12:30:00')")
cursor.execute("INSERT INTO order_fact VALUES (1002, 2, 2002, 2, 999.99, '2023-09-27 14:45:00')")
cursor.execute("INSERT INTO order_fact VALUES (1003, 3, 2003, 1, 499.99, '2023-09-27 15:30:00')")

# Commit the changes
conn.commit()

# Step 4: Query data to analyze customer behavior and product interactions
# 1. Retrieve all customer data
cursor.execute("SELECT * FROM customer_dim")
customers = cursor.fetchall()
print("Customer Data:")
for row in customers:
    print(row)

# 2. Retrieve all product data
cursor.execute("SELECT * FROM product_dim")
products = cursor.fetchall()
print("\nProduct Data:")
for row in products:
    print(row)

# 3. Retrieve all order data
cursor.execute("SELECT * FROM order_fact")
orders = cursor.fetchall()
print("\nOrder Data:")
for row in orders:
    print(row)

# 4. Analyze total sales per product
cursor.execute('''
SELECT product_dim.product_name, SUM(order_fact.order_amount) AS total_sales
FROM order_fact
JOIN product_dim ON order_fact.product_id = product_dim.product_id
GROUP BY product_dim.product_name
''')
sales_analysis = cursor.fetchall()
print("\nTotal Sales per Product:")
for row in sales_analysis:
    print(row)

# Close the connection
conn.close()

Customer Data:
(2001, 'Bob', 'California')
(2002, 'Alice', 'Texas')
(2003, 'John', 'New York')

Product Data:
(1, 'Smartphone', 'Electronics')
(2, 'Laptop', 'Electronics')
(3, 'Tablet', 'Electronics')

Order Data:
(1001, 1, 2001, 1, 299.99, '2023-09-27 12:30:00')
(1002, 2, 2002, 2, 999.99, '2023-09-27 14:45:00')
(1003, 3, 2003, 1, 499.99, '2023-09-27 15:30:00')

Total Sales per Product:
('Laptop', 999.99)
('Smartphone', 299.99)
('Tablet', 499.99)