<a href="https://colab.research.google.com/github/nandini-gangrade/Data-Engineering-Hexaware/blob/Project/Week2/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1: Data Warehousing and SQL Concepts

In [1]:
# Step 1: Set up SQLite in Colab
import sqlite3

# Create a new SQLite database (in-memory)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Step 2: Create tables to store customer, product, and order data
cursor.execute('''
CREATE TABLE customer_dim (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(255),
    location VARCHAR(255)
);
''')

cursor.execute('''
CREATE TABLE product_dim (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(255),
    category VARCHAR(255)
);
''')

cursor.execute('''
CREATE TABLE order_fact (
    order_id INT PRIMARY KEY,
    product_id INT,
    customer_id INT,
    quantity INT,
    order_amount DECIMAL(10, 2),
    order_date TIMESTAMP
);
''')

# Step 3: Insert sample data into the tables
cursor.execute("INSERT INTO product_dim VALUES (1, 'Smartphone', 'Electronics')")
cursor.execute("INSERT INTO product_dim VALUES (2, 'Laptop', 'Electronics')")
cursor.execute("INSERT INTO product_dim VALUES (3, 'Tablet', 'Electronics')")

cursor.execute("INSERT INTO customer_dim VALUES (2001, 'Bob', 'California')")
cursor.execute("INSERT INTO customer_dim VALUES (2002, 'Alice', 'Texas')")
cursor.execute("INSERT INTO customer_dim VALUES (2003, 'John', 'New York')")

cursor.execute("INSERT INTO order_fact VALUES (1001, 1, 2001, 1, 299.99, '2023-09-27 12:30:00')")
cursor.execute("INSERT INTO order_fact VALUES (1002, 2, 2002, 2, 999.99, '2023-09-27 14:45:00')")
cursor.execute("INSERT INTO order_fact VALUES (1003, 3, 2003, 1, 499.99, '2023-09-27 15:30:00')")

# Commit the changes
conn.commit()

# Step 4: Query data to analyze customer behavior and product interactions
# 1. Retrieve all customer data
cursor.execute("SELECT * FROM customer_dim")
customers = cursor.fetchall()
print("Customer Data:")
for row in customers:
    print(row)

# 2. Retrieve all product data
cursor.execute("SELECT * FROM product_dim")
products = cursor.fetchall()
print("\nProduct Data:")
for row in products:
    print(row)

# 3. Retrieve all order data
cursor.execute("SELECT * FROM order_fact")
orders = cursor.fetchall()
print("\nOrder Data:")
for row in orders:
    print(row)

# 4. Analyze total sales per product
cursor.execute('''
SELECT product_dim.product_name, SUM(order_fact.order_amount) AS total_sales
FROM order_fact
JOIN product_dim ON order_fact.product_id = product_dim.product_id
GROUP BY product_dim.product_name
''')
sales_analysis = cursor.fetchall()
print("\nTotal Sales per Product:")
for row in sales_analysis:
    print(row)

# Close the connection
conn.close()

Customer Data:
(2001, 'Bob', 'California')
(2002, 'Alice', 'Texas')
(2003, 'John', 'New York')

Product Data:
(1, 'Smartphone', 'Electronics')
(2, 'Laptop', 'Electronics')
(3, 'Tablet', 'Electronics')

Order Data:
(1001, 1, 2001, 1, 299.99, '2023-09-27 12:30:00')
(1002, 2, 2002, 2, 999.99, '2023-09-27 14:45:00')
(1003, 3, 2003, 1, 499.99, '2023-09-27 15:30:00')

Total Sales per Product:
('Laptop', 999.99)
('Smartphone', 299.99)
('Tablet', 499.99)

# Week 2: Real-Time Data Processing with Python

In [ ]:
# Install the necessary libraries in Colab
!pip install sqlalchemy pandas

In [6]:
import pandas as pd
from sqlalchemy import create_engine
import random
from datetime import datetime
import time

In [7]:
# Step 2.1: Create a connection to SQLite database
# This creates a file 'ecommerce.db' in your Colab environment
engine = create_engine('sqlite:///ecommerce.db')

In [12]:
# Step 3: Function to simulate real-time data streams
def simulate_order_stream():
    product_ids = [1, 2, 3, 4]  # Product IDs available in the system
    customer_ids = [2001, 2002, 2003]  # Customer IDs available in the system
    batch_count = 0  # Initialize a counter for batch number
    max_batches = 5  # Maximum number of batches to simulate

    while batch_count < max_batches:
        # Create a random order
        order = {
            'order_id': random.randint(1001, 9999),
            'product_id': random.choice(product_ids),
            'customer_id': random.choice(customer_ids),
            'quantity': random.randint(1, 5),
            'order_amount': round(random.uniform(50, 500), 2),
            'order_date': datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        }

        # Yield the order as a Pandas DataFrame
        yield pd.DataFrame([order])

        # Increment the batch count
        batch_count += 1

        # Sleep for a short time to simulate real-time data
        time.sleep(2)

In [13]:
# Step 4: Stream and load real-time data into the SQL table
# Run this cell to start the data streaming process
for order_batch in simulate_order_stream():
    # Append the generated order batch to the order_fact table
    order_batch.to_sql('order_fact', con=engine, if_exists='append', index=False)

    # Print only a summary of each order batch with the timestamp of loading
    print(f"Order batch loaded at {datetime.now()} - Order ID: {order_batch['order_id'].iloc[0]}, "
          f"Product ID: {order_batch['product_id'].iloc[0]}, Customer ID: {order_batch['customer_id'].iloc[0]}")

Order batch loaded at 2024-09-27 08:20:14.097668 - Order ID: 2849, Product ID: 2, Customer ID: 2001
Order batch loaded at 2024-09-27 08:20:16.113633 - Order ID: 6997, Product ID: 4, Customer ID: 2002
Order batch loaded at 2024-09-27 08:20:18.131926 - Order ID: 8431, Product ID: 4, Customer ID: 2003
Order batch loaded at 2024-09-27 08:20:20.148154 - Order ID: 1193, Product ID: 2, Customer ID: 2003
Order batch loaded at 2024-09-27 08:20:22.164712 - Order ID: 2906, Product ID: 1, Customer ID: 2001